{% extends "base.njk" %}

{% block titulo %}Habitaciones | Listado{% endblock %}

{% block contenido %}

    <h1 class="m-2 mb-3">Listado de habitaciones</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for habitacion in habitaciones %}
            <div class="col mb-4">
                <div class="card h-100 bg-light text-black">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Habitación {{ habitacion.numero }}</h5>
                        <p class="card-text">Última limpieza: {{ habitacion.ultimaLimpieza | date("DD/MM/yyyy")}}</p>
                        <div class="ms-auto">
                            <a href="/habitaciones/{{ habitacion.id }}" class="btn btn-info text-white">Ver Ficha</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}